{% load static %}

<div class="header">
  <a href="#" id="page-name">{{header}}</a>
  <ul class="header-items">
    <li class="header-item">
      <a href="#" class="link"
        ><ion-icon name="search-outline"></ion-icon>
      </a>
    </li>
    <li class="header-item">
      <a href="#" class="link">
        <ion-icon class="noti-icon" name="notifications-outline"></ion-icon>
      </a>
    </li>
    <li class="header-item dark-mode">
      <a href="#" class="link">
        <ion-icon name="moon-outline"></ion-icon>
      </a>
    </li>
    {% if request.user.is_authenticated %}
    <li class="header-item profile">
      <a href="#" class="link profile-btn">
        <img src="{% static 'images/user.jpeg' %} alt=""/>
        <span>
          <h4>John Doe</h4>
          <p>Web Developer</p>
        </span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </li>
    {% else %}
    <li class="header-item login-btn">
      <a href="{% url 'login' %}">
        <p>Login</p>
      </a>
    </li>
    {% endif %}
  </ul>
</div>