@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root {
  --primary-clr: #000000;
  --bg-clr: #f2f4f5;
  --white-bg: #fff;
  --dark-text-clr: #363b46;
  --light-text-clr: #fff;
  --hover-clr: #f1e8fd;


}
body.dark-mode {
  --primary-clr: #ffffff;
  --bg-clr: #1e1e1e;
  --white-bg: #23262b;
  --dark-text-clr: #fff;
  --light-text-clr: #000000;
  --hover-clr: #ffffff88;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
	overflow-x: hidden;
}
body {
  /* min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;  */
  background: var(--bg-clr);
  overflow-x: hidden;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* Sidebar */
.sidebar {
  width: 80px;
  min-height: 500px;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  background-color: var(--white-bg);
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}
.sidebar.active {
  width: 250px;
}
.sidebar .logo {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--primary-clr);
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 12px;
  white-space: nowrap;
  text-transform: capitalize;
  color: var(--dark-text-clr);
}
.link-item a span {
  transition: transform 0.5s;
  transform: translateX(100px);
}
.sidebar.active .link-item a span {
  transition-delay: calc(0.02s * var(--i));
  transform: translateX(0px);
}
.link-item a:hover {
  background-color: var(--hover-clr);
}
.link-item.active a {
  color: var(--light-text-clr);
  background-color: var(--dark-text-clr);
}
.link-item ion-icon {
  min-width: 20px;
  min-height: 20px;
  margin-right: 20px;
  position: relative;
}
.link-item ion-icon.noti-icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-clr);
  border: 1px solid var(--white-bg);
}
.link-item a .num-noti {
  margin-left: 40px;
  font-size: 12px;
  color: var(--light-text-clr);
  background-color: var(--primary-clr);
  min-width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.link-item.active a .num-noti {
  color: var(--primary-clr);
  background-color: var(--white-bg);
}
/* Sidebar */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* Content */
#header-bar {
	position: relative;
	width: calc(100% - 80px);
	left: 80px;
	transition: .3s ease;
}
.sidebar.active ~ #header-bar {
	width: calc(100% - 250px);
	left: 250px;
}

/* Navbar */
#header-bar nav {
	height: 60px;
	background: var(--white-bg);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	/* font-family: var(--lato); */
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#header-bar nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--white-bg);
}
#header-bar nav a {
	color: var(--dark-text-clr);
  text-decoration: none;
  font-weight: 600;
}
#header-bar nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#header-bar nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
  border-bottom: 1px solid var(--dark-text-clr);
}
#header-bar nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#header-bar nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--white-bg);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark-text-clr);
}
#header-bar nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--dark-text-clr);
	color: var(--white-bg);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0px 12px 0px 0px ;
	cursor: pointer;
}
#header-bar nav .notification {
	font-size: 18px;
	position: relative;
}
#header-bar nav .notification .num {
	position: absolute;
	top: -5px;
	right: -7px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	color: var(--dark-text-clr);
	font-weight: 700;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#header-bar nav .switch-mode::before {
	content:'';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--dark-text-clr);
	border-radius: 50%;
	transition: all .3s ease;
}
#header-bar nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
#header-bar nav .profile img {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 50%;
}
.dark-mode ion-icon {
  width: 20px;
  height: 20px;
}
/* Navbar */

/* Content Services (DUmmy) */
.content p {
  position: relative;
	width: calc(100% - 80px);
	left: 80px;
  padding: 25px;
  color: var(--primary-clr);
}

.sidebar.active ~ .content p {
	width: calc(100% - 250px);
	left: 250px;
}